*.o
tmp_*
llexer*
#----------------
lexer.*
!lexer.l
!lexer.hpp
#----------------
parser.*
!parser.asm
!parser.y
#----------------
llamac*
#----------------
old-*
examples
tmp-*
#----------------
.vscode
notes.md
test*