bin
build
#----------------
*.o
tmp_*
llexer*
#----------------
lexer.*
!lexer.l
!lexer.hpp
#----------------
parser.*
!parser.asm
!parser.yy
#----------------
llamac*
#----------------
old-*
examples
tmp-*
#----------------
.vscode
.DS_Store
notes.md
compile_commands.json
.cache
test